<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>首页</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jumbotron.css">
</head>

<body>

<% include header.ejs %>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <% if(login == 1){ %>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <h2><a href="/avatar"><img src="/avatar/<%= avatar %>"
                                           style="width:100px;height:auto;border-radius:50%;" alt=""></a>
                </h2>
                <h2>&nbsp;&nbsp;&nbsp;&nbsp;<%= username %></h2>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1">
                <h3>想你所想，畅享欢乐</h3>
                <textarea name="content" id="content" cols="80" rows="4"></textarea>
                <button class="btn btn-success" id="fabiao" type="button">发表</button>
            </div>
            <div class="alert alert-dismissible" role="alert" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times</span>
                </button>
                <strong></strong>
            </div>
        </div>
    </div>
    <% }else{ %>
    <div class="container">
        <div class="row col-lg-6 col-md-6 col-sm-6">
            <h2>欢迎来到微博</h2>
            <p>想你所想，畅享欢乐</p>
            <p><a class="btn btn-primary btn-lg" href="/regist" role="button">注册</a></p>
        </div>
        <div class="row col-lg-6 col-md-6 col-sm-6">
            <h2>已有账号登录</h2>
            <form class="" style="margin-bottom:50px;">
                <div class="form-group">
                    <label for="exampleInputEmail1">用户名</label>
                    <input type="text" class="form-control" id="username" placeholder="请输入用户名" name="username">
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                </div>
                <button type="button" class="btn btn-default">登录</button>
            </form>
            <div class="alert alert-dismissible" role="alert" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times</span>
                </button>
                <strong></strong>
            </div>
        </div>
    </div>
    <% } %>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row showContent">

    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">

        </ul>
    </nav>
    <hr>

    <footer>
        <p>&copy; 2016 Company, Inc.</p>
    </footer>
</div> <!-- /container -->
<script type="text/template" id="moban1">
    <div class="col-md-4" style="box-shadow:1px 1px 5px 1px rgba(0,0,0,.1);padding:0 10px;">
        <h2><a href="/user/{{=res.username }}"><img style="width:45px;border-radius:50%;" src="/avatar/{{=res.avatar }}" alt=""> {{=res.username }}</a></h2>
        <p>{{=res.content }}</p>
        <p>{{=res.dateTime }}</p>
        <p><a class="btn btn-default" href="#" role="button">更多</a></p>
    </div>
</script>
<script src="/js/jquery.min.js"></script>
<script src="/js/underscore_xiugai.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    //获取页码
    $.ajax({
        url: '/getweibomount',
        success: function (res) {
            var pagemount = res.mount;
            for (var i = 0; i < pagemount; i++) {
                $('.pagination').append('<li class="pagenum" data-page="' + i + '"><a href="javascript:;">' + (i + 1) + '</a></li>')
            }
            $('.pagination li:first').addClass('active');
            $('.pagination li').click(function () {
                $('.pagination li').removeClass('active');
                $(this).addClass('active');
                var page = $(this).attr('data-page');
                getAllweibo(page);
            })
        }
    })

    //ajax读取微博内容
    function getAllweibo(page) {
        $('.showContent').html('');
        $.ajax({
            url: '/getAllweibo',
            data: {
                page: page
            },
            async: false,
            dataType: 'json',
            success: function (result) {
                if (result.status == 1) {
                    for (var i = 0; i < result.weibo.length; i++) {
                        $.ajax({
                            url: '/getUserinfo',
                            data: {
                                username: result.weibo[i].username
                            },
                            async: false,
                            success: function (res) {
                                if (result.status == 1) {
                                    result.weibo[i].avatar = res.userinfo.avatar;
                                    var compiled = _.template($('#moban1').html());
                                    var html = compiled({res: result.weibo[i]});
                                    $('.showContent').append(html);
                                }
                            },
                            error: function (err) {

                            }
                        })

                    }
                }
            },
            error: function (err) {
                console.log('err:' + err);
            }
        })
    }

    getAllweibo();
    //注册
    $('#signUp').click(function () {
        $.get('/regist');
    })
    //登录
    $('button').click(function () {
        $.ajax({
            url: '/doLogin',
            type: 'post',
            data: {
                username: $('#username').val(),
                password: $('#password').val()
            },
            success: function (res) {
                if (res == '1') {
                    //登录成功
                    $('.alert').addClass('alert-success').find('strong').html('登录成功').end().fadeIn();
                    setTimeout(function () {
                        window.location = '/';
                    }, 1000)
                } else if (res == '-1') {
                    //注册失败
                    $('.alert').addClass('alert-warning').find('strong').html('用户名或密码错误，请重新输入！').end().fadeIn();
                } else if (res == '-3') {
                    //服务器出错
                    $('.alert').addClass('alert-danger').find('strong').html('连接不到服务器').end().fadeIn();
                }
            },
            error: function (err) {
                $('.alert').addClass('alert-danger').find('strong').html('连接不到服务器').end().fadeIn();
            }
        })
    })
    $('#fabiao').click(function () {
        $.ajax({
            url: '/post',
            type: 'post',
            data: {
                content: $('#content').val()
            },
            success: function (res) {
                if (res == '1') {
                    //登录成功
                    $('.alert').addClass('alert-success').find('strong').html('发表成功').end().fadeIn();
                } else if (res == '-1') {
                    //注册失败
                    $('.alert').addClass('alert-warning').find('strong').html('发表失败').end().fadeIn();
                } else if (res == '-3') {
                    //服务器出错
                    $('.alert').addClass('alert-danger').find('strong').html('连接不到服务器').end().fadeIn();
                }
            },
            error: function (err) {
                $('.alert').addClass('alert-danger').find('strong').html('连接不到服务器').end().fadeIn();
            }
        })
    })
</script>
</body>
</html>
