<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改头像</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/jumbotron.css">
    <style>
        .alert {
            display: none;
        }
    </style>
</head>
<body>
<% include header.ejs %>
<div class="container">
    <h1 style="text-align: center;margin-bottom:50px;"><%= active %>
    </h1>
    <div class="row">
        <form class="" style="margin-bottom:50px;">
            <div class="form-group">
                <label for="InputFile">修改头像</label>
                <input type="file" id="InputFile">
            </div>

            <button type="button" class="btn btn-default">提交</button>
        </form>
        <div class="alert alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
            </button>
            <strong></strong>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    $('button').click(function () {
        var formData = new FormData();
        formData.append('file', document.getElementById('InputFile').files[0]);
        $.ajax({
            url: '/doAvatar',
            type: 'post',
            data: formData,
            processData: false,// 告诉jQuery不要去处理发送的数据
            contentType: false,// 告诉jQuery不要去设置Content-Type请求头
            success: function (res) {
                if (res == '1') {
                    //注册成功
                    $('.alert').addClass('alert-success').find('strong').html('修改成功').end().fadeIn();
                    setTimeout(function () {
                        window.location = '/cut';
                    }, 1000)
                } else if (res == '-1') {
                    //注册失败
                    $('.alert').addClass('alert-warning').find('strong').html('修改失败').end().fadeIn();
                } else if (res == '-3') {
                    //服务器出错
                    $('.alert').addClass('alert-danger').find('strong').html('连接不到服务器').end().fadeIn();
                }
            },
            error: function (err) {
                $('.alert-danger').fadeIn();
            }
        })
    })
</script>
</body>
</html>